In [4]:
import pandas as pd
import numpy as np
from storage import get_relevant_df
from utils import get_top_critics_df
from termcolor import colored
from IPython.display import display, Markdown
from sklearn.metrics import classification_report, roc_auc_score
from sklearn import preprocessing

In [ ]:
# Standard plotly imports
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot
# Using cufflinks in offline mode
import cufflinks
cufflinks.go_offline()
# Set the global theme for cufflinks
cufflinks.set_config_file(world_readable=True, theme='pearl', offline=True)

def disp(x):
    display(Markdown(x))

In [2]:
df = get_relevant_df()
df = df[df.year >= 2000]
top_df = get_top_critics_df(df)

# Normalize critic scores

In [18]:
mean_df = top_df.groupby('reviewer_url')['score'].agg(['mean']).reset_index().sort_values(by='mean')

In [19]:
top_df = pd.merge(top_df, mean_df, on='reviewer_url')

In [20]:
top_df['score'] = top_df.apply(lambda x: x['score'] * 0.5 / x['mean'], axis=1)

In [21]:
top_df.groupby(['winner', 'title'])['score'].mean().reset_index().corr()

          winner     score
winner  1.000000  0.267805
score   0.267805  1.000000

# Normalizing helped to increase correlation

# Predict by average score

In [74]:
ydf = top_df.groupby(['year', 'winner', 'title'])['score'].mean().reset_index()

In [75]:
winner_max = ydf[ydf.winner == True].groupby('year')['score'].max().reset_index(name='winner_max')
loser_max = ydf[ydf.winner == False].groupby('year')['score'].max().reset_index(name='loser_max')

In [76]:
mx_df = pd.merge(winner_max, loser_max)
mx_df

    year  winner_max  loser_max
0   2000    0.543341   0.520931
1   2001    0.496348   0.567802
2   2002    0.488229   0.532716
3   2003    0.534963   0.527886
4   2004    0.546634   0.540654
5   2005    0.539262   0.533522
6   2006    0.467866   0.524034
7   2007    0.513114   0.529050
8   2008    0.546472   0.510667
9   2009    0.514233   0.521251
10  2010    0.530638   0.527943
11  2011    0.514805   0.541384
12  2012    0.527268   0.518737
13  2013    0.494528   0.517430
14  2014    0.548444   0.530113
15  2015    0.507422   0.571680
16  2016    0.534287   0.528010
17  2017    0.529085   0.542100
18  2018    0.496935   0.521337

In [77]:
len(mx_df[mx_df.winner_max > mx_df.loser_max]) / len(mx_df)

0.47368421052631576

In [40]:
df[df.winner == True]['title'].nunique() / df['title'].nunique()

0.1450381679389313

# <font color=red> After normalizing and taking top critics I can predict winner with 47% probability just by taking average critic score </font>

In [11]:
ss_df = top_df.groupby(['title', 'winner'])['rt_tomato_score', 'rt_audience_score'].agg(['max']).reset_index()

In [12]:
ss_df.head()

              title winner rt_tomato_score rt_audience_score
                                       max               max
0  12 Years a Slave   True            95.0              90.0
1         127 Hours  False            93.0              85.0
2  A Beautiful Mind   True            75.0              93.0
3     A Serious Man  False            89.0              68.0
4   American Beauty   True            88.0              93.0

In [14]:
ss_df[['winner', 'rt_tomato_score']].corr()

                       winner rt_tomato_score
                                          max
winner               1.000000        0.091842
rt_tomato_score max  0.091842        1.000000

In [15]:
ss_df[['winner', 'rt_audience_score']].corr()

                         winner rt_audience_score
                                              max
winner                 1.000000          0.204685
rt_audience_score max  0.204685          1.000000

# <font color=red> There's quite a big correlation between audience score and oscar winning

In [17]:
ss_df[['rt_tomato_score', 'rt_audience_score']].corr()

                      rt_tomato_score rt_audience_score
                                  max               max
rt_tomato_score   max        1.000000          0.243544
rt_audience_score max        0.243544          1.000000

In [23]:
top_df['ac_score'] = top_df.apply(lambda x: x['score'] + 0.6 * x['rt_audience_score'], axis=1)

In [28]:
mean_score_df = top_df.groupby(['year', 'winner', 'title'])['score', 'rt_audience_score'].mean().reset_index()

In [96]:
mean_score_df['ac_score'] = mean_score_df.apply(lambda x: x['score'] + 0.0033 * x['rt_audience_score'], axis=1)

In [97]:
mean_score_df[['winner', 'ac_score']].corr()

           winner  ac_score
winner    1.00000   0.31819
ac_score  0.31819   1.00000

In [87]:
mean_score_df

,year,winner,title,score,rt_audience_score,ac_score
0,2000,False,The Cider House Rules,0.497955,77.0,0.805955
1,2000,False,The Green Mile,0.483414,94.0,0.859414
2,2000,False,The Insider,0.520931,90.0,0.880931
3,2000,False,The Sixth Sense,0.456385,90.0,0.816385
4,2000,True,American Beauty,0.543341,93.0,0.915341
5,2001,False,Chocolat,0.417064,83.0,0.749064
6,2001,False,"Crouching Tiger, Hidden Dragon",0.567802,86.0,0.911802
7,2001,False,Erin Brockovich,0.465824,81.0,0.789824
8,2001,False,Traffic,0.526506,85.0,0.866506
9,2001,True,Gladiator,0.496348,87.0,0.844348
10,2002,False,Gosford Park,0.489516,78.0,0.801516
11,2002,False,In the Bedroom,0.532716,81.0,0.856716
12,2002,False,Moulin Rouge!,0.442345,89.0,0.798345
13,2002,False,The Lord of the Rings: The Fellowship of the Ring,0.501332,95.0,0.881332
14,2002,True,A Beautiful Mind,0.488229,93.0,0.860229
15,2003,False,Gangs of New York,0.486748,81.0,0.810748
16,2003,False,The Hours,0.470036,84.0,0.806036
17,2003,False,The Lord of the Rings: The Two Towers,0.527886,95.0,0.907886
18,2003,False,The Pianist,0.516290,95.0,0.896290
19,2003,True,Chicago,0.534963,83.0,0.866963
20,2004,False,Lost in Translation,0.540654,85.0,0.880654
21,2004,False,Master and Commander: The Far Side of the World,0.472953,80.0,0.792953
22,2004,False,Mystic River,0.472622,89.0,0.828622
23,2004,False,Seabiscuit,0.466315,76.0,0.770315
24,2004,True,The Lord of the Rings: The Return of the King,0.546634,86.0,0.890634
25,2005,False,Finding Neverland,0.479941,87.0,0.827941
26,2005,False,Ray,0.469164,87.0,0.817164
27,2005,False,Sideways,0.533522,78.0,0.845522
28,2005,False,The Aviator,0.511748,79.0,0.827748
29,2005,True,Million Dollar Baby,0.539262,90.0,0.899262
...,...,...,...,...,...,...
101,2015,False,The Imitation Game,0.497241,91.0,0.861241
102,2015,False,The Theory of Everything,0.444881,84.0,0.780881
103,2015,False,Whiplash,0.510560,94.0,0.886560
104,2015,True,Birdman or (The Unexpected Virtue of Ignorance),0.507422,77.0,0.815422
105,2016,False,Bridge of Spies,0.503442,87.0,0.851442
106,2016,False,Brooklyn,0.528010,87.0,0.876010
107,2016,False,Mad Max: Fury Road,0.506191,85.0,0.846191
108,2016,False,Room,0.513488,93.0,0.885488
109,2016,False,The Big Short,0.493082,87.0,0.841082
110,2016,False,The Martian,0.490179,91.0,0.854179
111,2016,False,The Revenant,0.476683,84.0,0.812683
112,2016,True,Spotlight,0.534287,93.0,0.906287
113,2017,False,Arrival,0.529200,82.0,0.857200
114,2017,False,Fences,0.475541,75.0,0.775541
115,2017,False,Hacksaw Ridge,0.458232,91.0,0.822232
116,2017,False,Hell or High Water,0.523733,88.0,0.875733
117,2017,False,Hidden Figures,0.472309,93.0,0.844309
118,2017,False,La La Land,0.542100,81.0,0.866100
119,2017,False,Lion,0.453971,91.0,0.817971
120,2017,False,Manchester by the Sea,0.536126,77.0,0.844126
121,2017,True,Moonlight,0.529085,79.0,0.845085
122,2018,False,Call Me by Your Name,0.513693,85.0,0.853693
123,2018,False,Darkest Hour,0.463121,82.0,0.791121
124,2018,False,Dunkirk,0.493816,81.0,0.817816
125,2018,False,Get Out,0.500653,86.0,0.844653
126,2018,False,Lady Bird,0.521337,79.0,0.837337
127,2018,False,Phantom Thread,0.494497,70.0,0.774497
128,2018,False,The Post,0.510692,72.0,0.798692
129,2018,False,"Three Billboards Outside Ebbing, Missouri",0.504813,86.0,0.848813
130,2018,True,The Shape of Water,0.496935,73.0,0.788935

In [83]:
ac_ydf = mean_score_df.groupby(['year', 'winner', 'title'])['ac_score'].mean().reset_index()

In [84]:
winner_max = ac_ydf[ac_ydf.winner == True].groupby('year')['ac_score'].max().reset_index(name='winner_max')
loser_max = ac_ydf[ac_ydf.winner == False].groupby('year')['ac_score'].max().reset_index(name='loser_max')

In [85]:
mx_df = pd.merge(winner_max, loser_max)
mx_df

    year  winner_max  loser_max
0   2000    0.915341   0.880931
1   2001    0.844348   0.911802
2   2002    0.860229   0.881332
3   2003    0.866963   0.907886
4   2004    0.890634   0.880654
5   2005    0.899262   0.845522
6   2006    0.819866   0.848034
7   2007    0.889114   0.873050
8   2008    0.890472   0.862667
9   2009    0.874233   0.877251
10  2010    0.866638   0.887943
11  2011    0.882805   0.897384
12  2012    0.875268   0.839104
13  2013    0.854528   0.863605
14  2014    0.908444   0.860563
15  2015    0.815422   0.891680
16  2016    0.906287   0.885488
17  2017    0.845085   0.875733
18  2018    0.788935   0.853693

In [86]:
len(mx_df[mx_df.winner_max > mx_df.loser_max]) / len(mx_df)

0.42105263157894735

In [3]:
top_df

,winner,title,reviewer_url,fresh,original_score,rt_tomato_score,rt_audience_score,year,score,mean
2091,True,The Shape of Water,/critic/john-beifuss/,True,0.875,92.0,73.0,2018,0.238472,0.834596
2092,False,Dunkirk,/critic/john-beifuss/,True,0.875,92.0,81.0,2018,0.238472,0.834596
2093,False,Lady Bird,/critic/john-beifuss/,True,1.000,99.0,79.0,2018,0.272540,0.834596
2094,False,Get Out,/critic/john-beifuss/,True,1.000,98.0,86.0,2018,0.272540,0.834596
2095,True,The Lord of the Rings: The Return of the King,/critic/john-beifuss/,True,0.875,93.0,86.0,2004,0.238472,0.834596
2096,False,Lost in Translation,/critic/john-beifuss/,True,0.750,95.0,85.0,2004,0.204405,0.834596
2097,False,Mystic River,/critic/john-beifuss/,True,0.875,88.0,89.0,2004,0.238472,0.834596
2098,True,Million Dollar Baby,/critic/john-beifuss/,True,1.000,91.0,90.0,2005,0.272540,0.834596
2099,False,The Aviator,/critic/john-beifuss/,True,0.750,86.0,79.0,2005,0.204405,0.834596
2100,False,Sideways,/critic/john-beifuss/,True,0.875,96.0,78.0,2005,0.238472,0.834596
2101,False,Finding Neverland,/critic/john-beifuss/,True,0.875,82.0,87.0,2005,0.238472,0.834596
2102,False,Ray,/critic/john-beifuss/,True,0.750,80.0,87.0,2005,0.204405,0.834596
2103,True,Crash,/critic/john-beifuss/,False,0.625,74.0,88.0,2006,0.170337,0.834596
2104,False,Capote,/critic/john-beifuss/,False,0.750,90.0,81.0,2006,0.204405,0.834596
2105,False,"Good Night, and Good Luck.",/critic/john-beifuss/,True,0.875,93.0,83.0,2006,0.238472,0.834596
2106,False,Munich,/critic/john-beifuss/,True,0.750,78.0,83.0,2006,0.204405,0.834596
2107,False,Brokeback Mountain,/critic/john-beifuss/,True,0.875,87.0,82.0,2006,0.238472,0.834596
2108,False,Babel,/critic/john-beifuss/,False,0.625,69.0,77.0,2007,0.170337,0.834596
2109,True,The Departed,/critic/john-beifuss/,True,1.000,91.0,94.0,2007,0.272540,0.834596
2110,False,The Queen,/critic/john-beifuss/,True,0.875,97.0,76.0,2007,0.238472,0.834596
2111,False,Little Miss Sunshine,/critic/john-beifuss/,True,0.750,91.0,91.0,2007,0.204405,0.834596
2112,False,Letters from Iwo Jima,/critic/john-beifuss/,True,1.000,91.0,86.0,2007,0.272540,0.834596
2113,False,Atonement,/critic/john-beifuss/,True,0.750,83.0,80.0,2008,0.204405,0.834596
2114,True,No Country for Old Men,/critic/john-beifuss/,True,0.875,93.0,86.0,2008,0.238472,0.834596
2115,False,There Will Be Blood,/critic/john-beifuss/,True,1.000,91.0,86.0,2008,0.272540,0.834596
2116,False,Michael Clayton,/critic/john-beifuss/,True,0.875,90.0,69.0,2008,0.238472,0.834596
2117,False,Juno,/critic/john-beifuss/,True,0.875,94.0,88.0,2008,0.238472,0.834596
2118,False,Frost/Nixon,/critic/john-beifuss/,False,0.625,93.0,88.0,2009,0.170337,0.834596
2119,False,The Reader,/critic/john-beifuss/,False,0.500,63.0,79.0,2009,0.136270,0.834596
2120,False,Milk,/critic/john-beifuss/,True,0.875,93.0,89.0,2009,0.238472,0.834596
...,...,...,...,...,...,...,...,...,...,...
15510,False,Django Unchained,/critic/dustin-putman/,True,0.875,86.0,91.0,2013,0.253012,0.729167
15511,True,Argo,/critic/dustin-putman/,True,0.625,96.0,90.0,2013,0.180723,0.729167
15512,False,Beasts of the Southern Wild,/critic/dustin-putman/,True,0.750,86.0,76.0,2013,0.216867,0.729167
15513,False,Amour,/critic/dustin-putman/,True,0.750,93.0,82.0,2013,0.216867,0.729167
15514,False,Silver Linings Playbook,/critic/dustin-putman/,True,0.625,92.0,86.0,2013,0.180723,0.729167
15515,False,Les Misérables,/critic/dustin-putman/,False,0.500,69.0,79.0,2013,0.144578,0.729167
15516,False,Life of Pi,/critic/dustin-putman/,True,0.875,87.0,84.0,2013,0.253012,0.729167
15517,False,Lincoln,/critic/dustin-putman/,False,0.125,89.0,80.0,2013,0.036145,0.729167
15518,False,Zero Dark Thirty,/critic/dustin-putman/,True,0.750,91.0,80.0,2013,0.216867,0.729167
15519,False,Captain Phillips,/critic/dustin-putman/,True,0.625,93.0,89.0,2014,0.180723,0.729167
15520,False,American Hustle,/critic/dustin-putman/,True,0.625,92.0,74.0,2014,0.180723,0.729167
15521,True,12 Years a Slave,/critic/dustin-putman/,True,0.875,95.0,90.0,2014,0.253012,0.729167
15522,False,The Wolf of Wall Street,/critic/dustin-putman/,True,0.875,78.0,82.0,2014,0.253012,0.729167
15523,False,Nebraska,/critic/dustin-putman/,True,0.750,91.0,83.0,2014,0.216867,0.729167
15524,False,Her,/critic/dustin-putman/,True,0.875,94.0,82.0,2014,0.253012,0.729167
15525,False,Dallas Buyers Club,/critic/dustin-putman/,True,0.750,93.0,91.0,2014,0.216867,0.729167
15526,False,Gravity,/critic/dustin-putman/,True,1.000,96.0,80.0,2014,0.289157,0.729167
15527,False,Whiplash,/critic/dustin-putman/,True,0.750,93.0,94.0,2015,0.216867,0.729167
15528,True,Birdman or (The Unexpected Virtue of Ignorance),/critic/dustin-putman/,True,0.875,91.0,77.0,2015,0.253012,0.729167
15529,False,The Theory of Everything,/critic/dustin-putman/,True,0.625,78.0,84.0,2015,0.180723,0.729167
15530,False,Boyhood,/critic/dustin-putman/,True,1.000,97.0,80.0,2015,0.289157,0.729167
15531,False,Bridge of Spies,/critic/dustin-putman/,True,0.625,91.0,87.0,2016,0.180723,0.729167
15532,False,The Martian,/critic/dustin-putman/,True,0.625,91.0,91.0,2016,0.180723,0.729167
15533,False,The Revenant,/critic/dustin-putman/,True,1.000,78.0,84.0,2016,0.289157,0.729167
15534,False,Mad Max: Fury Road,/critic/dustin-putman/,True,0.750,97.0,85.0,2016,0.216867,0.729167
15535,False,Room,/critic/dustin-putman/,True,0.750,94.0,93.0,2016,0.216867,0.729167
15536,False,Manchester by the Sea,/critic/dustin-putman/,True,0.750,96.0,77.0,2017,0.216867,0.729167
15537,False,Lion,/critic/dustin-putman/,True,0.625,85.0,91.0,2017,0.180723,0.729167
15538,False,Arrival,/critic/dustin-putman/,True,1.000,94.0,82.0,2017,0.289157,0.729167
15539,False,La La Land,/critic/dustin-putman/,True,0.875,91.0,81.0,2017,0.253012,0.729167

In [9]:
def trans(x):
    return preprocessing.normalize([x['score']])[0]

In [10]:
top_df.groupby('reviewer_url').apply(trans)

reviewer_url
/critic/brian-orndorf/                    [0.09859577477734466, 0.09859577477734466, 0.0...
/critic/david-edelstein/                  [0.0, 0.105999788000636, 0.0, 0.10599978800063...
/critic/dennis-schwartz/                  [0.09535700599967267, 0.0866881872724297, 0.10...
/critic/dustin-putman/                    [0.11223368936410152, 0.12826707355897315, 0.0...
/critic/eric-d-snider/                    [0.09724914439245035, 0.09724914439245035, 0.0...
/critic/frank-swietek/                    [0.10124574941356598, 0.09280860362910215, 0.0...
/critic/frederic-and-mary-ann-brussat/    [0.10608318351713639, 0.08486654681370912, 0.0...
/critic/harvey-s-karten/                  [0.09021697036716231, 0.09923866740387853, 0.0...
/critic/james-berardinelli/               [0.09166199015381171, 0.07856742013183861, 0.0...
/critic/james-kendrick/                   [0.10416851207190303, 0.08928729606163117, 0.1...
/critic/jeffrey-m-anderson/               [0.10354500232014505, 0.0887528591315529, 0.10...
/critic/john-beifuss/                     [0.10410720488219391, 0.10410720488219391, 0.1...
/critic/josh-larsen/                      [0.10256934600642323, 0.0879165822912199, 0.10...
/critic/laura-clifford/                   [0.09378608200435758, 0.09378608200435758, 0.0...
/critic/mark-dujsik/                      [0.09773735649560457, 0.0698123974968604, 0.08...
/critic/maryann-johanson/                 [0.053292670196191494, 0.08526827231390639, 0....
/critic/matt-brunson/                     [0.08877449342582731, 0.08877449342582731, 0.1...
/critic/matthew-turner/                   [0.11439836607379923, 0.06863901964427953, 0.0...
/critic/mick-lasalle/                     [0.08837875845950277, 0.11783834461267037, 0.0...
/critic/mike-mcgranaghan/                 [0.09116052253717259, 0.07813759074614794, 0.1...
/critic/moira-macdonald/                  [0.11122924640562153, 0.09732559060491884, 0.1...
/critic/nell-minow/                       [0.09887337879809213, 0.09887337879809213, 0.0...
/critic/peter-howell/                     [0.09878481866689436, 0.09878481866689436, 0.0...
/critic/peter-rainer/                     [0.0874935050049311, 0.0874935050049311, 0.097...
/critic/peter-travers/                    [0.08935462367981062, 0.08935462367981062, 0.0...
/critic/rich-cline/                       [0.11130365433704759, 0.10017328890334283, 0.1...
/critic/richard-roeper/                   [0.09648949849696092, 0.09648949849696092, 0.1...
/critic/robert-roten/                     [0.09768753353448321, 0.08140627794540269, 0.0...
/critic/susan-granger/                    [0.10135062837932786, 0.0709454398655295, 0.10...
dtype: object

In [50]:
top_df['normalized_score'] = top_df.groupby('reviewer_url')['score'].transform(preprocessing.scale)

In [53]:
top_df.groupby('reviewer_url')['normalized_score'].std()

reviewer_url
/critic/brian-orndorf/                    1.004619
/critic/david-edelstein/                  1.004706
/critic/dennis-schwartz/                  1.004193
/critic/dustin-putman/                    1.004662
/critic/eric-d-snider/                    1.004662
/critic/frank-swietek/                    1.003960
/critic/frederic-and-mary-ann-brussat/    1.004577
/critic/harvey-s-karten/                  1.004796
/critic/james-berardinelli/               1.003929
/critic/james-kendrick/                   1.004938
/critic/jeffrey-m-anderson/               1.004796
/critic/john-beifuss/                     1.005089
/critic/josh-larsen/                      1.004494
/critic/laura-clifford/                   1.004338
/critic/mark-dujsik/                      1.004662
/critic/maryann-johanson/                 1.004662
/critic/matt-brunson/                     1.004890
/critic/matthew-turner/                   1.004843
/critic/mick-lasalle/                     1.004988
/critic/mike-mcgranaghan/                 1.004938
/critic/moira-macdonald/                  1.005089
/critic/nell-minow/                       1.004890
/critic/peter-howell/                     1.004796
/critic/peter-rainer/                     1.004938
/critic/peter-travers/                    1.004193
/critic/rich-cline/                       1.004706
/critic/richard-roeper/                   1.005038
/critic/robert-roten/                     1.004057
/critic/susan-granger/                    1.004124
Name: normalized_score, dtype: float64

In [47]:
preprocessing.scale(np.array([1, 1, 1]))

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning:

Data with input dtype int64 was converted to float64 by the scale function.

array([0., 0., 0.])

In [56]:
top_df.groupby(['winner', 'title'], as_index=False)['normalized_score'].mean().corr()

                    winner  normalized_score
winner            1.000000          0.283294
normalized_score  0.283294          1.000000